.container {
  .silder {
    position: absolute;
    margin-left: 170px;
    @include glass-color;
    margin-top: 5%;
    width: 615px;
    height: 100px;
    .background_color {
      width: 550px;
      height: 100px;
      position: absolute;
    }
    .btn_container-1,
    .btn_container-2 {
      position: absolute;
      display: flex;
      justify-content: space-between;
      button {
        font-size: 1.36rem;
        padding: 2px;
        margin-left: 3px;
      }
    }
    .btn_container-1 {
      .s-block {
        @include btn_config;
        border: 4px solid $s-block-border;
        color: $s-block-border;
        margin-left: 0px;
        &::first-letter {
          font-size: 1.9rem;
        }
      }
      .p-block {
        @include btn_config;
        border: 4px solid $p-block-border;
        color: $p-block-border;
        margin-left: 120px;
        &::first-letter {
          font-size: 1.9rem;
        }
      }
      .f-block {
        @include btn_config;
        border: 4px solid $f-block-border;
        color: $f-block-border;
        margin-left: 240px;
        &::first-letter {
          font-size: 1.9rem;
        }
      }
      .d-block {
        @include btn_config;
        border: 4px solid $d-block-border;
        color: $d-block-border;
        margin-left: 360px;
        &::first-letter {
          font-size: 1.9rem;
        }
      }
      margin-top: 25px;
      margin-left: 60px;
    }
    .btn_container-2 {
      .alkali {
        @include btn_config;
        margin-left: 0px;
        width: 100px;
        border: 4px solid $s-block-color-1;
        color: $s-block-color-1;
      }
      .alkaline {
        @include btn_config;
        margin-left: 105px;
        width: 120px;
        border: 4px solid $s-block-color-2;
        color: $s-block-color-2;
      }
      .transition {
        @include btn_config;
        margin-left: 230px;
        width: 140px;
        border: 4px solid $d-block-color;
        color: $d-block-color;
      }
      .basic {
        @include btn_config;
        margin-left: 375px;
        width: 95px;
        border: 4px solid $p-block-color-basic;
        color: $p-block-color-basic;
      }
      .metallroid {
        @include btn_config;
        margin-left: 477px;
        width: 85px;
        border: 4px solid $d-block-color;
        color: $d-block-color;
      }
      .non {
        @include btn_config;
        margin-left: 0px;
        width: 100px;
        border: 4px solid $non-metal-color;
        color: $non-metal-color;
      }
      .helogen {
        @include btn_config;
        margin-left: 105px;
        width: 120px;
        border: 4px solid $p-block-color-Halogen;
        color: $p-block-color-Halogen;
      }
      .noble {
        @include btn_config;
        margin-left: 230px;
        width: 140px;
        border: 4px solid $p-block-color-gas;
        color: $p-block-color-gas;
      }
      .lanthanide {
        @include btn_config;
        margin-left: 375px;
        width: 95px;
        border: 4px solid $p-block-color-basic;
        color: $p-block-color-basic;
      }
      .actinide {
        @include btn_config;
        margin-left: 477px;
        width: 85px;
        border: 4px solid $d-block-color;
        color: $d-block-color;
      }
      margin-top: -13px;
      .bundle-2 {
        margin-top: 50px;
      }
      margin-left: 3px;
      display: none;
    }
    .control_btn {
      display: grid;
      position: absolute;
      margin-left: 93%;
    }
    .buttonControl {
      background-image: url(../img/up-arrow.svg);
      @include btn_config;
      width: 40px;
      height: 40px;
      display: block;
      float: right;
      &.type-down {
        margin-top: 50px;
        transform: rotateZ(180deg);
      }
      &:hover {
        width: 44px;
        height: 44px;
        transition: 0.2s linear;
      }
    }
  }
}
