.block {
  a {
    @for $g from 14 through 53 {
      &.number_#{$g} {
        margin-top: $g * 69px;
        color: $d-block-color;
      }
    }
  }
  @for $q from 3 through 12 {
    &.number-#{$q} {
      margin-left: $de-element-margin * ($q - 1);
    }
    &.number-3 {
      margin-top: -((14 - 3.21) * 69px);
    }
    &.number-4 {
      margin-top: -((14) * 73px);
    }
    &.number-5 {
      margin-top: -((17) * 76.4px);
    }
    &.number-6 {
      margin-top: -((21) * 75px);
    }
    &.number-7 {
      margin-top: -((25) * 74px);
    }
    &.number-8 {
      margin-top: -2126px;
    }
    &.number-9 {
      margin-top: -((33) * 72.8px);
    }
    &.number-10 {
      margin-top: -((37) * 72.4px);
    }
    &.number-11 {
      margin-top: -((40) * 73.86px);
    }
    &.number-12 {
      margin-top: -((44) * 73.4px);
    }
  }
}
