.block {
  a {
    @for $g from 91 through 120 {
      &.number_#{$g} {
        margin-left: $g * 36px;
        color: $f-block-border;
      }
    }
  }
  &.number-19 {
    margin-top: 66vh;
    margin-left: -250rem;
  }
  &.number-20 {
    margin-top: 75vh;
    margin-left: -252.7rem;
  }
  &#block-f-1,&#block-f-2{
display: none;
  }
}
