@mixin backgound-of {
  background-image: url("../img/Backgroung_img/backgound_img.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
@mixin glass-color {
  background: $glass-color;
  border: 3px solid rgb(221, 219, 215);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.589),
    inset 0 0 20px rgba(255, 255, 255, 0.842);
  border-radius: 10px;
}
@keyframes glass-effect {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    height: 100%;
    margin-left: 25.2%;
  }

  100% {
    opacity: 0;
    height: 100%;
    margin-left: 72%;
  }
}
@mixin btn_config {
  padding: 0px 2px 0px 2px;
  width: 100px;
  height: 40px;
  position: absolute;
  box-shadow: $glass-color;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  appearance: none;
  outline: none;
}
