.block {
  a {
    @for $g from 54 through 90 {
      &.number_#{$g} {
        margin-top: $g * 69px;
        color: $p-block-color-basic;
      }
    }
    @for $g from 84 through 90 {
      &.number_#{$g} {
        color: $p-block-color-gas;
      }
    }
    @for $g from 78 through 83 {
      &.number_#{$g} {
        color: $p-block-color-Halogen;
      }
    }
    &.number_54,
    &.number_66,
    &.number_72,
    &.number_73,
    &.number_74,
    &.number_67 {
      color: $non-metal-color;
    }
    &.number_60,
    &.number_61,
    &.number_62,
    &.number_68,
    &.number_69,
    &.number_75,
    &.number_76 {
      color: $p-block-color-Metalloid;
    }
  }
  @for $q from 13 through 18 {
    &.number-#{$q} {
      margin-left: $de-element-margin * ($q - 1);
    }
  }
  &.number-13 {
    margin-top: -((54 - 1.2) * 69px);
  }
  &.number-14 {
    margin-top: -((60 - 1.2) * 69px);
  }
  &.number-15 {
    margin-top: -((66 - 1.2) * 69px);
  }
  &.number-16 {
    margin-top: -((72 - 1.2) * 69px);
  }
  &.number-17 {
    margin-top: -((78 - 1.2) * 69px);
  }
  &.number-18 {
    margin-top: (-((84 - 0.2) * 69px));
  }
  div.number_16{
    margin-top: 16 * 69px;
    cursor: pointer;
  }
  div.number_17{
    margin-top: 17 * 69px;
    cursor: pointer;
  }
}
