.block {
  a {
    @for $g from 1 through 7 {
      &.number_#{$g} {
        margin-top: $g * 69px;
        color: $s-block-color-1;
      }
    }
    @for $g from 8 through 15 {
      &.number_#{$g} {
        margin-top: $g * 69px;
        color: $s-block-color-2;
      }
    }
    &.number_1 {
      color: $non-metal-color;
    }
  }
  &.number-1 {
    margin-top: -55px;
  }
  &.number-2 {
    margin-top: -468px;
    margin-left: $de-element-margin;
  }
}
