.table-back {
  width: 90.3%;
  margin-top: 30px;
  position: absolute;
  height: 85vh;
  margin-left: 110px;
  margin-left: 50px;
  @include glass-color;
  &::before {
    position: absolute;
    content: "";
    width: 0.3%;
    box-shadow: 0px 0px 10px rgb(241, 239, 234);
    background-color: rgba(241, 239, 234, 0.507);
    animation: glass-effect 2s 3 forwards linear;
  }
}
