$non-metal-color: #0299ff;
$s-block-color-1: #ff0d0d;
$s-block-color-2: #ff8b3e;
$d-block-color: #ffdc50;
$p-block-color-gas: #d37aff;
$p-block-color-Metalloid: #9cfd6b;
$p-block-color-Halogen: #3d3df3;
$p-block-color-basic: #dffacc;
$s-block-border: #ff6464;
$p-block-border: #fbfd5b;
$d-block-border: #62b1ff;
$f-block-border: #5ffd5c;
$test-color-6: rgb(1, 2, 2);
$test-color-7: rgb(7, 23, 255);
$test-color-8: rgb(54, 112, 129);
$test-color-9: rgb(21, 88, 49);
$de-element-margin: 70px;
$de-element: -70px;
$glass-color: 3px 3px 15px rgba(0, 0, 0, 0.589),
  inset 0 0 20px rgba(255, 255, 255, 0.842);
