* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.8rem;
  font-family: "Rakkas", cursive;
  text-decoration: none; 
}
@import "./variables";
@import "./fan-mix";
@import "./s-block";
@import "./d-block";
@import "./p-block";
@import "./f-block";
@import "./btn";

h5 {
  font-size: 0.8rem;
  font-family: "BioRhyme", serif;
}

h1 {
  font-size: 1.7rem;
  font-family: "Concert One", cursive;
}

.container {
  @include backgound-of;
  .table_container {
    width: 90.3%;
    margin-top: 30px;
    position: absolute;
    height: 85vh;
    margin-left: 110px;
    .block {
      @for $i from 1 through 33 {
        &.number-#{$i} {
          position: absolute;
        }
      }
      a,#element-16,#element-17 {
        @include glass-color;
        width: 70px;
        display: block;
        position: absolute;
        &:hover {
          width: 73px;
          height: 73px;
        }
        .group {
          text-align: center;
          line-height: 16px;
        }
      }
    }
  }
  @import "./table-background";
}
